/* ------------------------ */
/* Variables */
/* ------------------------ */
/* ------------------------ */
/* Estilos Generales */
/* ------------------------ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #3A1E69;
  font-size: 16px;
}

/* ------------------------ */
/* Estilos del Logo */
/* ------------------------ */
.logo {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
}

.logo img {
  width: 100%;
  height: 130px;
}

.logo h2 {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  text-align: center;
}

/* ------------------------ */
/* Estilos de la Calculadora */
/* ------------------------ */
.calculadora {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  margin: 40px auto;
  background: #412A69;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 5px rgba(105, 99, 198, 0.2);
          box-shadow: 0 0 5px 5px rgba(105, 99, 198, 0.2);
}

.calculadora .display {
  width: 100%;
  height: 40px;
  padding: 10px;
  background: #321269;
  -webkit-box-shadow: 0 0 5px 5px rgba(50, 18, 105, 0.5);
          box-shadow: 0 0 5px 5px rgba(50, 18, 105, 0.5);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculadora .display p {
  color: #fff;
  line-height: 1.25rem;
  font-size: 1.25rem;
  width: 100%;
  text-align: right;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

.calculadora .keyboard {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
  grid-gap: 10px;
}

.calculadora .keyboard .btn-AC {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.calculadora .keyboard .btn-Del {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.calculadora .keyboard .key-operadores {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.calculadora .keyboard .key-operadores .btn {
  margin-bottom: 10px;
}

.calculadora .keyboard .key-operadores .btn:last-child {
  margin-bottom: 0;
}

.calculadora .keyboard .key-numeros {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

.calculadora .keyboard .key-numeros .btn {
  height: 100%;
}

.calculadora .keyboard .key-numeros .btn:nth-child(10) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.calculadora .btn {
  font-size: 1.25rem;
  color: #fff;
  background: #321269;
  border: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(105, 99, 198, 0.2);
          box-shadow: 0 0 2px 2px rgba(105, 99, 198, 0.2);
  cursor: pointer;
  height: 50px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.calculadora .btn:hover {
  background: rgba(50, 18, 105, 0.3);
}
/*# sourceMappingURL=estilos.css.map */